*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
header{
	padding: 15px 5%;
	display:flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;
	border-bottom:2px solid #fb4b2b;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
header div{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
header div p{
	font-size: 30px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: -1px;
}
header img{
	margin-right: auto;
}
header .left{
	margin-right: 20px;
}
header p{
	margin-right: auto;
	letter-spacing: -1px;
}
header a{
	text-decoration:none;
	color:black;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding: 10px 15px;
	font-size:1rem;
}
header button{
	background-color: #ee2b31;
	border:none;
	color:white;
	border-radius: 20px;
	padding: 7px 20px;
	text-transform: uppercase;
}
header input{
	font-family: 'Raleway', sans-serif;
	height: 35px;
	border-radius: 20px;
	border-style: solid;
	width: 400px;
	padding-left: 10px;
	outline: none;
	border-color: #00000088;
}
header .sb{
	font-weight: bolder;
}
.logop{
	font-family: verdana;
}



.title{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #f6f6f6;
	padding: 25px 5%;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.title h1{
	font-size: 1.5rem;
	font-family: 'Raleway', sans-serif;
}
.title p{
	font-weight: bold;
	font-size: 0.9em;
	letter-spacing: -1px;
}
.title a{
	text-decoration: none;
	color: black;
	margin:0 5px; 
	letter-spacing: -1px;
}
.title .active{
	color: #ee2b31;
}



.container{
	display: flex;
	padding: 0 5%;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9rem;
	margin-bottom: 50px;
}



.main{
	flex: 6;
	text-align: justify;
	margin-right: 20px;

}
.main img{

	max-width: 100%;
	max-height: auto;
	margin-bottom: 20px;
	object-fit: contain;
}
.main p{
	margin-bottom: 20px;
	font-family: 'Raleway', sans-serif;
}
.main h2{
	margin-bottom: 10px;
}
.main .dividido{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	flex-wrap: wrap-reverse;
	margin-bottom: 10px;
}
.main .dividido div{
	margin-left: 10px;
	flex:3; 
	min-width: 300px;
}
.main .video{
	display: flex;
	flex-flow: column;
	align-items: center;
}
.main video{
	width: 80%;
	text-align: center;
	margin: 10px 0 30px 0;
}
.main .pagination{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
}
.pagination div{
	display:flex;
}
.pagination button{
	padding: 10px 20px;
	border:1px solid #00000099;
	outline: none;
	text-transform: uppercase;
	background-color: #f1f1f1;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.home{
	border-radius: 7px;
}
.primero{
	border-radius: 7px 0 0 7px!important;
}
.ultimo{
	border-radius: 0 7px 7px 0!important;
}
.centrada{
	justify-content:center!important;
	margin-top: 40px;
	margin-bottom: 40px;
}



.commentheader{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 20px;
	font-weight: bold;
}
.commentheader p{
	padding: 0;
	margin: 0;
	padding: 10px 0;
	margin-left: 10px;
	margin-right: 10px;
}
.commentheader span{
	color:#ef2a33;
}
.commentheader img{
	width: 20px;
	height: 20px;
	margin-left: 2px;
	margin-bottom: 0;
}
.commentheader div{
	border-right: 1px solid black; 
	margin-right: 10px;
}


.discusion{
	display: flex;
	align-items: flex-start;
}
.discusion img{
	width: 47px;
	margin-bottom: 0;
	margin-right: 20px;
}
.discusion input{
	border-radius: 5px;
	border:2px solid #00000044;
	padding-left: 20px;
	height: 47px;
	flex:1;
	outline: none;
	margin-bottom: 5px;
}
.discusion .name{
	height: 40px!important;
}
.discusion div div{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}
.discusion div div div{
	display: flex;
	flex-flow: column;
}
.discusion div div div div{
	flex-flow: row;
}
.discusion div div div img{
	margin-right: 4px;
	width: 35px;
	height: 35px;
}
.discusion .disqus{
	width: 25px;
	height: 25px;
	margin-left: 10px;
}
.discusion p{
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 0.8rem;
}



.comments {
	display: flex;
	align-items: flex-start;
	padding-bottom: 20px; 
}
.comments img{
	margin-right: 20px;
}
.comments div{
	display: flex;
	flex-flow: column;
}
.comments div img{
	margin:7px 3px;
}
.comments div div{
	display: flex;
	flex-flow: row;
	align-items: flex-start;
}
.comments span{
	color: #3062a7;
	font-weight: bold;
}
.comments .date{
	color:#646e7a;
}
.comments p{
	margin-bottom: 5px;
}
.comments .options img{
	margin-left: 5px;
	margin-right: 6px;
}
.reply{
	margin-left: 60px;
}


.sidebar{
	flex: 1;
	font-size: 0;
	text-transform: capitalize;
}
.box{
	min-width: 275px;
}
.box > div{
	border: 1px solid #999999;;
	border-top: none;
	display: flex;
	flex-flow: column;
	padding: 10px 10px 0 10px;
	font-weight: bolder;
	color: #6b6b6b;
	margin-bottom: 25px;
	background-color: white;
	font-size: 1rem;
	padding-bottom:10px; 
}
.box hr{
	margin: 7px 0;
}
.box button{
	width: 100%;
	align-self: center;
	margin: 10px 0 0 0;
	padding: 5px 0;
	background-color: #999999;
	border:none;
	outline: none;
	color :white;
	font-weight: bolder;
	text-transform: capitalize;
}
.box div div{
	display: flex;
	justify-content: space-between;
}
.box span{
	color:#ef2a33;
}
.activebox{
	background-color: #333333!important;
	color: #616161!important;
}
.activebox hr{
	opacity: 0.5;
}



.similar{
	padding: 30px 0;
	background-color: #f7f7f7;
	font-size: 0.9rem;
	font-family: 'Raleway', sans-serif;
}
.similar h1{
	margin-left: 5%; 
}
.boxes{
	padding: 10px 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 0;
}
.boxes .box > div{
	color: #4a4a4a;
}
footer{
	background-color: #191919;
	color: white;
	display: flex;
	flex-wrap: wrap;
	padding: 15px 5%; 
}
footer select{
	background-color: transparent;
	color:white;
	border:none;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	border-right: 1px solid white;
	padding-right: 10px;
	margin-right: 10px;
}
footer a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin-right: 10px;
	font-size: 0.8rem;
}
footer img{
	margin-left: auto;
}

footer,.sidebar,.similar,{
	display: none!important;
}



.content{
	display: flex;
	flex-wrap: wrap-reverse;
	background-color: #f6f6f6;
	padding: 50px 5%;
	font-family: 'Raleway', sans-serif;
	text-transform: capitalize;
	text-align: justify;
	margin-bottom: 30px;
}
.content div{
	padding:0 20px 0 20px;
	flex:1;
}
.content h1{
	font-size: 1.3rem;
	margin-bottom: 10px;
}
.content span{
	color: #ef2a33;
	font-weight: bold; 
}
.content div div{
	display: flex;
}
.content hr{
	opacity: 0.5;
	margin:10px 0;
}
.content button{
	background-color:  #ef2a33;
	border-radius: 20px;
	border:none;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	color: white;
	text-transform: capitalize;
	margin-top: 20px;
	margin-bottom: 20px;
}
.content button img{
	margin-right: 10px;
}
.content .contentimg{
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
.rating{
	padding:0!important;
}





.chat{
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
	font-family: 'Raleway', sans-serif;
}
.chat img{
	margin-right: 20px;
}
.chatc{
	display: flex;
	flex-wrap: wrap;
	padding: 0 5%;
	margin-bottom: 150px;
}
.chatn{
	flex:1;
	min-width: 210px;
}
.chatnn {
	display: flex;
	align-items: flex-start;
	padding-bottom: 20px; 
	padding-right: 35px;
	min-width: 125px;
	font-family: 'Raleway', sans-serif;
}
.chatnn img{
	margin-right: 10px;
}
.chatnn div{
	display: flex;
	flex-flow: column;
	flex:1;
}
.chatnn div div{
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
}
.chatnn span{
	font-weight: bold; 
	font-size: 1.2rem;
}
.chatnn .date{
	color:#646e7a;
	font-weight: 600;
}
.chatnn p{
	letter-spacing: -1px;
}
.chatnn button{
	background-color:  #ef2a33;
	border:none;
	padding: 5px 7px;
	color: white;
	text-transform: capitalize;

}



.chatm{
	flex:3;
	font-family: 'Raleway', sans-serif;
}
.chatmtitle{
	color: #ef2a33;
	display: flex;
	align-items: flex-start;
	font-size: 1.4rem;
	margin-bottom: 10px;
	font-family: 'Raleway', sans-serif;
}
.chatmtitle img{
	margin-right: 20px;
}
.chatmtitle .semibold{
	font-weight: 600;
}

.chatmmain{
	flex: 1;
	border: 1px solid black;
	padding: 30px 15px 20px 15px;
}
.mainmessage{
	display: flex;
	border-bottom: 1px solid #00000055;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.mainmessage div{
	margin-right: 20px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.mainmessage img{
	margin-right: 20px;
	width: 81px;
	height: 81px;
}
.mainmessage span{
	font-weight: bold;
	font-size: 1.2rem;
}
.chatm textarea{
	padding-top: 10px;
	padding-left: 10px;
	width: 100%;
	height: 100px;
	resize: none;
	font-family: 'Raleway', sans-serif;
}
.chatm button{
	background-color:  #ef2a33;
	border-radius: 20px;
	border:none;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}
.chatm button img{
	margin-right: 10px;
}




.bold{
	font-weight: 600;
}

@media(max-width:952px){
	.sidebar{
		display: none;
	}
	.pagination button{
		padding: 5px 10px;
	}
}
@media(max-width:514px){
/*	.discusion input{
		width: 300px;
	}*/
	header input{
		width: 300px;
	}
}
@media(max-width:400px){
/*	.discusion input{
		width: 200px;
	}*/
	.pagination button{
		padding: 5px 5px;
	}
}