*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button, input, select, textarea {
 font-family : inherit;
 font-size : 100%;
}
body{
	font-family: arial;
}
nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 80px;
	background-color: #ec008c;
	background-color:#091f40;
	padding: 20px 10%;
}
nav a{
	color: white;
	text-decoration: none;
	font-size:1.2em;
	font-weight: bolder;
	padding: 0 10px;
}
nav img{
	height: 80px;
	width: auto;
	margin-right:auto;
}
.showcase{
	height: 500px;
	padding-left: 10%;
	padding-top: 60px;
	padding-bottom: 40px;
	background-image: url("../img/craig.png");
	background-repeat: no-repeat;
	background-position:right bottom;
	background-size: contain;
}
.showcase h1{
	font-size: 3.5em;
	max-width: 400px;
}
.showcase p{
	font-size: 1.5em;
	max-width: 400px;
}
span{
	color: black;
}
.showcase button{
	margin-top: 15px;
	height: 70px;
	width: 250px;
	background-color: #d08d45;
	border-radius: 20px;
	color: white;
	font-size: 1.5em;
}
.showcase img{
	float: right;
	height: 100%;
}
.separador{
	height: 150px;
	background-color: #d08d45;
	display: flex;
	align-items: center;
	padding-left: 10%;
}
.separador p{
	font-size: 52px;
	color: white;
}
.about{
	display: flex;
	background-color:#d1d3d4; 
	padding-top: 80px;
	color: #091f40;
	padding-left: 10%;
	padding-bottom: 40px;
}
.about p{
	margin: 10px 0;
}
.caja{
	flex:1;
	display: flex;
	flex-flow: column;
}
.checkbox{
	padding: 0 80px;
}
.checkbox div{
	display: flex;
	align-items: center;
	margin: 20px 0;
}
.checkbox p{
	font-size:2em;
	font-weight: bold;
}
.contac{
	display: flex;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #091f40;
	padding-left: 10%; 
}
.contac p{
	color: white;
	margin-bottom: 10px;
}
.contac h2{
	color: #d08d45;
	font-size: 2em;
	margin-bottom: 10px;
}
.contac form{
	display: flex;
	flex-flow: column;
	padding:0 70px;
}
.contac form input{
	height: 50px;
	border-radius: 20px;
	margin-bottom: 10px;
	padding-left: 20px;
}
.contac textarea{
	height: 150px;
	resize: none;
	border-radius: 20px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding: 10px 0 0 20px;
}
footer{
	display: flex;
	padding: 40px 10% 40px 10%; 
	width: 100%;
}
footer p{
	margin: 10px 0;
}
footer h2{
	font-size: 2em;
}
footer img{
	height: 80px;
	width: 300px;
}
.left{
	align-items: flex-end;
	justify-content: flex-end;
}
.golden{
	color: #d08d45;
}