*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: "verdana";
}
button, input, select, textarea {
 font-family : inherit;
 font-size : 100%;
}
.main{
	background-color: #f6f6f6;
	padding: 20px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.list{
	width: 25%;
	background-color: white;
	padding-right: 20px;
	max-height: calc(100vh - 40px);
	overflow: auto;
	direction:rtl; 
}
.scroll2::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
 
.scroll2::-webkit-scrollbar-thumb {
  background: #666; 
   border-radius: 20px;
}
.listelement{
	display: flex;
	justify-content: flex-end;
	height: 75px;
	margin-bottom: 15px;
	direction:ltr;
}
.listelement:hover{
	background-color: #0088cc;
}
.list h2{
	font-size: 20px;
	text-align: right;
	margin: 20px 0 10px 0; 
	direction:ltr;
}
.texto{
	font-size: 14px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.miniature{
	position: relative;
}
.duration{
	position: absolute;
	top:calc(0px + 75%);
	color: white; 
	font-size: 12px;
	left: 5px;
}
.listelement img{
	width: 100px;
	height: 100%;
}
.videocontainer{
	width: 70%;
	background-color: white;
	height: 100%;
}
.videocontainer video{
	width: 100%;
	height: auto;
}
.info{
	padding:15px 25px 0 25px; 
}
.infoheader{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.infoheader img{
	width: 20px;
	margin-right: 3px;
}
.infoheader .girar{
	transform: rotateY(180deg);
}
.infoheader button{
	background-color: transparent;
	border-radius: 5px;
	display: flex;
	padding: 5px;
	opacity: 0.5;
}
.infotitle{
	margin-left: auto;
	font-size: 24px;
	font-weight: normal;
}
.description{
	padding-left: 40px;
	margin-bottom: 10px;
}
.infofooter{
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	opacity: 0.5;
}
.infofooter div{
	display: flex;
	align-items: center;
}
.infofooter img{
	width: 15px;
	margin: 0 10px;
}